* {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

/* header */
.header {
    background-color: #b675e4;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

/* input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  /* "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #ffffff;
    color: rgb(14, 13, 13);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  /* Style list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(204, 99, 224);
    font-size: 18px;
    transition: 0.2s;
  
    /* unselectable list items */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /*List hover background-color */
ul li:hover {
    background: rgb(255, 255, 255);
  }
  
/* Add a "tick" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(239, 235, 235);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


/* Clicked item add a background color and strike out text */
ul li.checked {
  background: rgb(197, 144, 229);
  color: #fff;
  text-decoration: line-through;
}

/* close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f70ed4;
    color: white;
  }